// Custom Variables
//
$transition-duration: 200ms !default;
$body-bg:             #F6EBF8 !default;
$body-color:          #2F2F2F !default;
$font-family-base:    'Lato', sans-serif !default;
$font-size-base:      0.85rem !default;
