<h2 class="text-center">Bem Vindo(a) !</h2>

<div class="container" *ngFor="let user of users">

    <div class="text-center">
        
      <app-user-list-item [user]="user" class="user-item" (onDeleteuser)="onuserDeleted($event)"></app-user-list-item>

      <h1 class="card-title pricing-card-title"  [innerHTML]="user.name"></h1>

    </div>
    
    <div class="form-group">      
      
      <ul class="list-unstyled mt-3 mb-4">

        <div>

        <li>Email :</li>

        <li [innerHTML]="user.email"></li>

        </div>

        <li>
          
        </li>
        <li>
          
        </li>

        <div>

        <li>Telefone :</li>

        <li [innerHTML]="user.phone"></li>
        
        </div>

      </ul>

      <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="logof()">Sair</button>
    
  </div>

</div>