<h2 class="text-center">Criar minha conta</h2>

<div class="container">
  
  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <section>

      <div *ngIf="this.errorCreate" class="alert alert-warning" role="alert">

        Erro ao cadastrar! Dados incorretos !

      </div>   

    </section>
    
    <div class="form-group">
      
      <label>Nome</label>
      
      <input class="form-control" type="name" name="name" id="name" [(ngModel)]="account.name"/>
    
    </div>
    
    <div class="form-group">
      
      <label>Telefone</label>
      
      <input class="form-control" type="phone" name="phone" id="phone" [(ngModel)]="account.phone"/>
    
    </div>
    
    <div class="form-group">
      
      <label>E-mail</label>
      
      <input class="form-control"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" name="email" id="email" [(ngModel)]="account.email" />
    
    </div>
    
    <div class="form-group">
      
      <label>Senha</label>
      
      <input class="form-control" type="password" name="password" id="password" [(ngModel)]="account.password"/>
    
    </div>
    
    <section>
      
      <div *ngIf="this.userCadastred" class="alert alert-warning" role="alert">
        
        Usuário já cadastrado!
      
      </div>    

    </section>
    
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Criar minha conta</button>
  
  </form>

</div>
